.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
  line-height: 2;
}
.btn-small {
  margin: 5px;
}
.collapsible-header .col strong {
  margin: 5px;
  line-height: 42px;
}
img{
    margin-top: 10%;
}
#scale-demo {
  position: fixed !important;
  top: 90%;
  left: 47%;
}
div #forbiden{
    margin-top: 50% !important;
  display: flex;
  justify-content: center;
}
#delete-habit{
    display: block;
}
#confirm_habit{
    display:none;   
}
@media only screen and (max-width: 460px)
#icons-size{
    font-size:100px;
}
#delete-habit{
    display: block;
}
#confirm-delete{
    display:none;   
}