*{
    margin:0;
}
.text-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
  line-height: 2;
}

.btn-small {
  margin: 5px;
}

.collapsible-header .col strong {
  margin: 5px;
  line-height: 42px;
}

img {
  margin-top: 10%;
}

/* floating button */
#scale-demo {
  position: fixed !important;
  top: 90%;
  left: 47%;
}

/* message to redirect users if action is not allowed */
div #forbiden {
  margin-top: 50% !important;
  display: flex;
  justify-content: center;
}

/* margin for logo */
nav .brand-logo {
  margin-left: 20px;
}

#display-habit {
  margin-bottom: 15%;
}
hr {  height: 3px;
    border: 0; border-top: 3px solid orange;
    margin-bottom: 5em ; 
    margin-top: 1em;
}

#journal-header{

   margin-top: 120px !important;
}