{% extends "base.html" %}
{% block content %}
{% if session["user"] %}
    <h3 class="amber-text text-darken-3 center-align"> {{ habit.habit_name }} Journal </h3>
    <h5 class="amber-text text-darken-3  center-align"> {{ habit.habit_description }}  </h5>
    {% for journal in journals %}
    <label for="journal_entry_text">
   <h4 id="journal-header">{{ journal.journal_entry_text }}</h4>
   <h6 class="right-align"> {{ journal.date }} </h6>
    </label>
    <a class="btn-floating btn-large grey darken-3 bold upper modal-trigger"
    href="#{{ journal._id }}">
    <span class="hide-on-small-and-down ">Delete</span>
    <i class="far fa-trash-alt"></i>
    </a>
    <!-- delete modal -->
    <div id="{{ journal._id }}" class="modal">
    <label  for="habit_id">{{ journal._id }}</label>
    <div class="modal-content">
        <!-- confirmation of delete -->
        <h4 class="red-text bold upper">Confirm Deletion</h4>
        <h5 class="bold">Are you sure you want to delete this Journal?</h5>
        <p class="grey-text bold">This action cannot be undone.</p>
    </div>
    <div class="modal-footer center-align">
        <a class="waves-effect waves-purple red btn text-shadow-2 upper"
            href="{{ url_for('delete_journal', journal_id=journal._id) }}">
        <i class="far fa-trash-alt  right" ></i>Yes
        </a>
        <a class="modal-close waves-effect waves-yellow green btn text-shadow-2 upper">
        <i class="fas fa-reply  right" ></i>No
        </a>
    </div>
    </div>
    <hr>
    {% endfor %}
    <form class="col s12" method="POST" action="{{ url_for('add_journals', habit_id=habit._id) }}">
    <div class="row ">
        <div class="input-field col s12">
            <textarea  class="materialize-textarea" data-length="120" name="journal_entry_text"></textarea>
            <label for="journal_entry_text">Write your journal Entry</label>
        </div>
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large ff8f00 amber darken-3 text-shadow">
                Add To Journal<i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </div>
    </form>
{% endif %}
{% endblock %}


