{% extends "base.html" %} 
{% block content %}

<h3 class=" amber-text text-darken-3 center-align">Create New Habit</h3>

<div class="row card-panel grey lighten-5">
  <form class="col s12" method="POST" action="{{ url_for('create_habit') }}">
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-folder-open prefix grey-text text-darken-3"></i>
        <select
          id="category_name"
          name="category_name"
          class="validate "
          required
        >
          <option value="" disabled selected>Choose Category</option>
          {% for category in categories %}
          <option value="{{ category.category_name }}"
            >{{ category.category_name }}</option
          >
          {% endfor %}
        </select>
        <label for="category_name">Habit Category</label>
      </div>
    </div>
    <!-- habit name  -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-pencil-alt prefix grey-text text-darken-3"></i>
        <input id="habit_name" name="habit_name" minlength="3" maxlength="50"
          type="text" class="validate " required/>
        <label for="habit_name">Habit Name</label>
      </div>
    </div>
    <!-- habit description -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-align-left prefix grey-text text-darken-3"></i>
        <textarea
          id="habit_description" name="habit_description" minlength="6" maxlength="200"
          class="materialize-textarea amber-text text-darken-3 validate" required >
          </textarea>
        <label for="habit_description">Habit Description</label>
      </div>
    </div>
    <!-- habit date -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-calendar-alt prefix grey-text text-darken-3"></i>
        <input id="due_date" name="due_date" type="text"
          class="datepicker validate" required/>
        <label for="due_date">Due Date</label>
      </div>
    </div>
    <!--  prioritize habits -->
    <div class="row">
      <div class="input-field col s12">
        <div class="switch">
          <i class="fas fa-exclamation-circle prefix lgrey-text text-darken-3" ></i>
          <label for="prioritize">
            <input type="checkbox" id="prioritize" name="prioritize" />
            <span class="lever"></span>
            prioritize
          </label>
        </div>
      </div>
    </div>
    <!-- submit button -->
    <div class="row">
      <div class="col s12 center-align">
        <button type="submit" class="btn-large ff8f00 amber darken-3 text-shadow">
          Create New Habit<i class="fas fa-plus-square right"></i>
        </button>
      </div>
    </div>
  </form>
</div>

{% endblock %}
