{% extends "base.html" %}
{% block content %}


<!-- <h3 class="amber-text text-darken-3  center-align">All Habits</h3> -->
<div class="row ">
	<div class="col s12 m12">
		<div class="card">
			<div class="card-image">
				<img src="https://images.unsplash.com/photo-1562585398-fbf461aec9a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60">
				<span class="card-title">Habits</span>
			</div>
			<div class="card-content">
				<ul class="collapsible popout">

					{% for habit in habits %}
					<li>
						<div class="collapsible-header white-text grey-text text-darken-3 ">
							<div class="col s3">
								<i class="fas fa-caret-down"></i>
								{% if session.user|lower == habit.created_by|lower %} 
								<a href="{{ url_for('delete_habit', habit_id=habit._id) }}"
									class="waves-effect waves-light btn-small" id="delete_url">Delete</a>

								<a href="{{ url_for('edit_habit', habit_id=habit._id) }}"
									class="waves-effect waves-light btn-small">Edit</a> 

								<a href="{{ url_for('edit_habit', habit_id=habit._id) }}"
									class="btn-floating btn-large ">Edit</a> 
								<a href="{{url_for('home')}}" class="btn btn-success">Home</a>

                              <button type="button" class="btn btn-danger" onclick="confirm_del()">Delete Recipe</button>
								{% endif %}

							</div>
							<div class="col s9">
								<strong>{{ habit.habit_name }}</strong> : {{ habit.due_date }}
								{% if habit.prioritize == "on" %}
								<i class="fas fa-exclamation-circle grey-text text-darken-3 tooltipped"
                                    data-position="right" data-tooltip="URGENT!"></i>
								{% endif %}
							</div>

							{% endfor %}
						</div>
					</li>
				</ul>

			</div>
		</div>
	</div>
</div>

<script>
	console.log(  window.location.href="{{url_for('delete_habit', habit_id=habits._id)}}");
        function confirm_del(){
        let confirmation = confirm("Are you sure you want to delete this habit?")
        if (confirmation == true){
            window.location.href= {"{url_for('delete_habit'}}";
            alert(" The habit has successfully been deleted.");
        }
        else {
            alert("The habit has not been deleted.");
        }
    }
</script>


{% endblock %}