{% extends "base.html" %}
{% block content %} 


     <h3 class="amber-text text-darken-3  center-align">All Habits</h3>
    
     <ul class="collapsible popout">
         {% for habit in habits %}
    <li>
      <div class="collapsible-header white-text grey-text text-darken-3 text-shadow">
          <div class="col s3">
          <i class="fas fa-caret-down"></i>
          {% if session.user|lower == habit.created_by|lower %}
              <a href="{{ url_for('completed_habit', habit_id=habit._id) }}" class="waves-effect waves-light btn-small">Completed</a>
              <a href="{{ url_for('edit_habit', habit_id=habit._id) }}" class="btn-floating btn-large cyan pulse">Edit</a>
           
         {% endif %}
      </div>
      <div class="col s9">
           <strong>{{ habit.habit_name }}</strong>  : {{ habit.due_date }}
            {% if habit.is_urgent == "on" %}
             <i class="fas fa-exclamation-circle grey-text text-darken-3 tooltipped"
                        data-position="right" data-tooltip="URGENT!"></i>
            {% endif %}
      
      </div>

            
       
     </div>
      <div class="collapsible-body">
      <strong>{{ habit.category_name }}</strong>
      <p>{{ habit.habit_description }}</p>
      <p><em>by: {{ habit.created_by }}</em></p>
      </div>
    </li>
    {% endfor %}
  </ul>
 {% endblock %}   

