{% extends "base.html" %} 
{% block content %}

    <!-- presentation photo to start the page -->
<div class="row">
    <div class="col s12 m12">
        <div class="card">
            <div class="card-image">
                <img
                src="https://images.unsplash.com/photo-1534939268078-694e7b6d99b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
                alt="Feel good"
                />
            </div>

      <!-- motivating message -->
            <div class="card-content center-align">
                <h2>Become the better version of yourself!</h2>
                <br/>
                <div id="motivation-message"><strong>
                    To be centered and follow a healthy lifestyle it is importan to focus
                    equally on our heart, which means social contacts, on our body and
                    physical health, as well as on our brain that keeps us centered.
                    InhabitU helps you to create every-day habits for each part and
                    keeping them in balance.</strong>
                </div>
                <br/>
            <h4>Lets inhabitU</h4>
            <br/>
                <div id="icons-size">
            <i class="col s3 fas fa-heartbeat small amber-text text-darken-1"></i>
            <i class="fas fa-brain small amber-text text-darken-2"></i>
            <i class="col s6 fas fa-running small amber-text text-darken-3"></i>
                </div>
            </div>
        </div>
    </div>
</div>

        <!-- users have access to login/register when he/she is not logged in  -->
        
            {% if not session.user %}
                <div class="row">
                    <a href="{{ url_for('register') }}" class="btn-large col s12 424242 grey darken-3 text-shadow">
                    Register 
                    <i class="fas fa-sign-in-alt"></i></a>
                </div>

                <div class="row">
                    <a href="{{ url_for('login') }}" class="col s12 btn-large 424242 grey darken-3 text-shadow">
                    Log In 
                    <i class="fas fa-sign-in-alt"></i>
                    </a>
                </div>
            {% else %}
                <a id="scale-demo" href="{{ url_for('create_habit') }}" class="center-align btn-floating btn-large scale-transition 424242 grey darken-3">
                <i class="fas fa-plus"></i>
                </a>
      
            {% endif %} 

 {% endblock %}
    

